<div class="layout-container">
  <!-- Header -->
  <mat-toolbar color="primary" class="header">
    <!-- <button mat-icon-button (click)="toggleMenu()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button> -->
    
    <span class="title">Calendar Event Booking</span>
    
    <span class="spacer"></span>
    
    <!-- User Info -->
    <div class="user-info" *ngIf="currentUser$ | async as user">
      <mat-icon>person</mat-icon>
      <span class="username">{{ user.username }}</span>
      
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <!-- Sidebar Navigation -->
  <mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav 
      #drawer 
      class="sidenav" 
      [mode]="'over'"
      [opened]="isMenuOpen"
      (closed)="isMenuOpen = false">
      
      <div class="sidenav-content">
        <div class="nav-section" *ngIf="currentUser$ | async as user">
          <h3 class="nav-section-title">User Menu</h3>
          
          <a mat-list-item 
             routerLink="/calendar" 
             routerLinkActive="active-link"
             (click)="toggleMenu()">
            <mat-icon matListItemIcon>calendar_today</mat-icon>
            <span matListItemTitle>Calendar</span>
          </a>
        </div>
      </div>
    </mat-sidenav> -->

    <!-- Main Content -->
    <mat-sidenav-content class="main-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
